.toolbar {
    background: #091827;
    height: 80px;
}

.container {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 54px;
    margin-bottom: 54px;
    @media screen and (max-width: 767px) {
        margin: 12px;
    }
}

.logo {
    margin-left: 80px;
    @media screen and (max-width: 767px) {
        margin: 12px;
    }
}