<mat-card class="custom-card">
    <mat-card-content style="padding: unset">
        <div class="card-text">
            <img src="assets/Eletropaulo_Logo.png" alt="Eletropaulo Logo" />

            <p class="card-stock-symbol">
                AES Eletropaulo <span class="stock-symbol">{{ stockData.symbol }}</span>
            </p>
            <p>PREÇO DO ATIVO</p>
            <span [ngStyle]="
          stockTrend === 'down'
            ? { color: 'var(--Red, #F44336)' }
            : stockTrend === 'up'
            ? { color: 'var(--Green, #00C853)' }
            : {}
        ">
        <p class="stock-quote">
          R$ {{ stockData.quote | number : "1.2-2" }}
          <span [ngSwitch]="stockTrend"
            ><mat-icon
              *ngSwitchCase="'up'"
              class="arrow"
              aria-hidden="false"
              aria-label="Em alta"
              fontIcon="arrow_upward"
            ></mat-icon>
            <mat-icon
              class="arrow"
              *ngSwitchCase="'down'"
              aria-hidden="false"
              aria-label="Em baixa"
              fontIcon="arrow_downward"
            ></mat-icon>
          </span>
            </p>
            </span>
        </div>
        <app-stock-chart [symbol]="stockData.symbol"></app-stock-chart>
    </mat-card-content>
</mat-card>