<div class="header">
    <h1>Explore o mercado</h1>
    <div class="sorting-buttons">
        <p>Ordenar:</p>
        <mat-chip-listbox aria-label="Ordenar">
            <mat-chip-option (click)="sortDescending()">Em Alta</mat-chip-option>
            <mat-chip-option (click)="sortAscending()">Em Baixa</mat-chip-option>
        </mat-chip-listbox>
    </div>
</div>

<button mat-button (click)="disconnect()">disconnect</button>
<button mat-button (click)="connect()">connect</button>
<mat-spinner *ngIf="!isThereDataToCharts()"></mat-spinner>
<div *ngIf="isThereDataToCharts()">
    <div *ngFor="let stock of stocks">
        <app-stock [stockData]="stock"></app-stock>
    </div>

</div>