/* You can add global styles to this file, and also import other style files */

h1 {
    color: #091827;
    font-family: DIN Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}